{% extends "base.html" %}

{% block content %}

{% for message in messages %}
  {% if 'success' in message.tags %}
  <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
  {% else %}
  <p class="alert alert-danger" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
  {% endif %}
{% endfor %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Bem-vindo!</h1>
    <p>Exemplo de login com CPF.</p>
    {% if user.is_authenticated %}
      <p>Seu login é {{ request.user }}</p>
    {% endif %}
  </div>
</div>

{% endblock content %}